<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>341405675814-d6dhphl130glp5v73n216kj7hf5vl6lu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.341405675814-d6dhphl130glp5v73n216kj7hf5vl6lu</string>
	<key>API_KEY</key>
	<string>AIzaSyDJr3OD6ONwoaW0K0WRXunA8ROPapfPIxU</string>
	<key>GCM_SENDER_ID</key>
	<string>341405675814</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.taskshiftV1</string>
	<key>PROJECT_ID</key>
	<string>taskshiftflutter</string>
	<key>STORAGE_BUCKET</key>
	<string>taskshiftflutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:341405675814:ios:15bc8f2f4903c1712f51e7</string>
</dict>
</plist>